In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\gnane\Downloads\sir diwali dataset assignment.csv")

C:\Users\gnane\AppData\Local\Temp\ipykernel_14968\2580593105.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\gnane\Downloads\sir diwali dataset assignment.csv")

In [3]:
df

,"Billings; Europe, Sectors & Countries",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
0,Source: Morgan Stanley Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2.0,9,10,11,12,13,14,15,16,...,258,259,260,261,262,263,264,265,266,267
3,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
4,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,28-Aug-17,NaN,19540.2,23407.4,12484.4,32322.0,13542.0,14018.6,11966.4,7833.2,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455.0,18183.6,42591.2,29264.6
11136,29-Aug-17,NaN,19337.8,23310.8,12297.2,32124.6,13323.0,13779.2,11956.4,8161.8,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974.0,42936.4,28631.0
11137,30-Aug-17,NaN,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,...,NaN,22179.2,18546.0,32567.8,27414.6,NaN,33779.0,18208.2,42681.2,28686.0
11138,31-Aug-17,NaN,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611.0,42931.4,28286.2
11139,1-Sep-17,NaN,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763.0,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336.0,19979.0,43008.4,29284.2

In [4]:
df.iloc[3:]

,"Billings; Europe, Sectors & Countries",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256,Unnamed: 257,Unnamed: 258,Unnamed: 259,Unnamed: 260
3,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
4,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
6,31-Dec-74,NaN,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
7,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11135,28-Aug-17,NaN,19540.2,23407.4,12484.4,32322.0,13542.0,14018.6,11966.4,7833.2,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455.0,18183.6,42591.2,29264.6
11136,29-Aug-17,NaN,19337.8,23310.8,12297.2,32124.6,13323.0,13779.2,11956.4,8161.8,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974.0,42936.4,28631.0
11137,30-Aug-17,NaN,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,...,NaN,22179.2,18546.0,32567.8,27414.6,NaN,33779.0,18208.2,42681.2,28686.0
11138,31-Aug-17,NaN,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611.0,42931.4,28286.2
11139,1-Sep-17,NaN,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763.0,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336.0,19979.0,43008.4,29284.2

In [5]:
df=pd.read_csv(r"C:\Users\gnane\Downloads\sir diwali dataset assignment.csv",low_memory=False,header=3)

In [6]:
df

,1,2,9,10,11,12,13,14,15,16,...,258,259,260,261,262,263,264,265,266,267
0,NaN,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,NaN,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,28-Aug-17,NaN,19540.2,23407.4,12484.4,32322,13542,14018.6,11966.4,7833.2,...,NaN,22085.2,18572.6,32965.2,27484.4,NaN,33455,18183.6,42591.2,29264.6
11133,29-Aug-17,NaN,19337.8,23310.8,12297.2,32124.6,13323,13779.2,11956.4,8161.8,...,NaN,22369.8,18520.8,33006.8,27707.8,NaN,34186.8,17974,42936.4,28631
11134,30-Aug-17,NaN,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,...,NaN,22179.2,18546,32567.8,27414.6,NaN,33779,18208.2,42681.2,28686
11135,31-Aug-17,NaN,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,...,NaN,21422.4,19010.4,32488.6,26173.2,NaN,35239.2,19611,42931.4,28286.2
11136,1-Sep-17,NaN,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763,...,NaN,21327.2,18827.4,32908.8,25365.8,NaN,35336,19979,43008.4,29284.2

In [7]:
df.dropna(how="all",axis=1,inplace=True)

In [8]:
df.head()

,1,9,10,11,12,13,14,15,16,17,...,258,259,260,261,262,263,264,265,266,267
0,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,Market,Sectors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,EURO,EURO_25,EURO_30,EURO_10,EURO_40,EURO_35,EURO_20,EURO_45,EURO_15,...,GR,IE,IT,NL,NO,PT,ES,SE,CH,GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.loc[1] = df.loc[1].ffill()
df.loc[2] = df.loc[0]+" ~ "+df.loc[1]+" ~ "+df.loc[2]
df.head()

,1,9,10,11,12,13,14,15,16,17,...,258,259,260,261,262,263,264,265,266,267
0,NaN,Europe - On Trailing EY,Consumer Discretionary - On Trailing EY,Consumer Staples - On Trailing EY,Energy - On Trailing EY,Financials - On Trailing EY,Health Care - On Trailing EY,Industrials - On Trailing EY,Information Technology - On Trailing EY,Materials - On Trailing EY,...,Greece - On Trailing BVY,Ireland - On Trailing BVY,Italy - On Trailing BVY,Netherlands - On Trailing BVY,Norway - On Trailing BVY,Portugal - On Trailing BVY,Spain - On Trailing BVY,Sweden - On Trailing BVY,Switzerland - On Trailing BVY,United Kingdom - On Trailing BVY
1,NaN,Market,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,Sectors,...,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries,Countries
2,NaN,Europe - On Trailing EY ~ Market ~ EURO,Consumer Discretionary - On Trailing EY ~ Sect...,Consumer Staples - On Trailing EY ~ Sectors ~ ...,Energy - On Trailing EY ~ Sectors ~ EURO_10,Financials - On Trailing EY ~ Sectors ~ EURO_40,Health Care - On Trailing EY ~ Sectors ~ EURO_35,Industrials - On Trailing EY ~ Sectors ~ EURO_20,Information Technology - On Trailing EY ~ Sect...,Materials - On Trailing EY ~ Sectors ~ EURO_15,...,Greece - On Trailing BVY ~ Countries ~ GR,Ireland - On Trailing BVY ~ Countries ~ IE,Italy - On Trailing BVY ~ Countries ~ IT,Netherlands - On Trailing BVY ~ Countries ~ NL,Norway - On Trailing BVY ~ Countries ~ NO,Portugal - On Trailing BVY ~ Countries ~ PT,Spain - On Trailing BVY ~ Countries ~ ES,Sweden - On Trailing BVY ~ Countries ~ SE,Switzerland - On Trailing BVY ~ Countries ~ CH,United Kingdom - On Trailing BVY ~ Countries ~ GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
new_index = df.loc[2]
new_index[0] = "date"
df.columns = new_index

df = df[3:]
df = df.rename_axis(None, axis=1)
df.head()

,date,Europe - On Trailing EY ~ Market ~ EURO,Consumer Discretionary - On Trailing EY ~ Sectors ~ EURO_25,Consumer Staples - On Trailing EY ~ Sectors ~ EURO_30,Energy - On Trailing EY ~ Sectors ~ EURO_10,Financials - On Trailing EY ~ Sectors ~ EURO_40,Health Care - On Trailing EY ~ Sectors ~ EURO_35,Industrials - On Trailing EY ~ Sectors ~ EURO_20,Information Technology - On Trailing EY ~ Sectors ~ EURO_45,Materials - On Trailing EY ~ Sectors ~ EURO_15,...,Greece - On Trailing BVY ~ Countries ~ GR,Ireland - On Trailing BVY ~ Countries ~ IE,Italy - On Trailing BVY ~ Countries ~ IT,Netherlands - On Trailing BVY ~ Countries ~ NL,Norway - On Trailing BVY ~ Countries ~ NO,Portugal - On Trailing BVY ~ Countries ~ PT,Spain - On Trailing BVY ~ Countries ~ ES,Sweden - On Trailing BVY ~ Countries ~ SE,Switzerland - On Trailing BVY ~ Countries ~ CH,United Kingdom - On Trailing BVY ~ Countries ~ GB
3,31-Dec-74,27536,26861,25887.8,51400.2,28288,10853.8,21598.2,13201.2,19206.8,...,NaN,NaN,25640.4,21079.6,13796.8,NaN,21978,16744.6,24155.2,14720.6
4,1-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6-Jan-75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
valvar = df.columns.tolist()[1:]
df = df.melt(id_vars=["date"],value_vars=valvar)
df.head()

        date                                 variable  value
0  31-Dec-74  Europe - On Trailing EY ~ Market ~ EURO  27536
1   1-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN
2   2-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN
3   3-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN
4   6-Jan-75  Europe - On Trailing EY ~ Market ~ EURO    NaN

In [12]:
df["variable"] = df["variable"].str.replace("-","~")
df[["segment","period","type","subtype"]] = df["variable"].str.split(" ~ ",expand=True)
df.drop("variable",axis=1,inplace=True)
df = df[["segment","period","subtype","value","date"]]
df

                segment           period subtype    value       date
0                Europe   On Trailing EY    EURO    27536  31-Dec-74
1                Europe   On Trailing EY    EURO      NaN   1-Jan-75
2                Europe   On Trailing EY    EURO      NaN   2-Jan-75
3                Europe   On Trailing EY    EURO      NaN   3-Jan-75
4                Europe   On Trailing EY    EURO      NaN   6-Jan-75
...                 ...              ...     ...      ...        ...
2839165  United Kingdom  On Trailing BVY      GB  29264.6  28-Aug-17
2839166  United Kingdom  On Trailing BVY      GB    28631  29-Aug-17
2839167  United Kingdom  On Trailing BVY      GB    28686  30-Aug-17
2839168  United Kingdom  On Trailing BVY      GB  28286.2  31-Aug-17
2839169  United Kingdom  On Trailing BVY      GB  29284.2   1-Sep-17

[2839170 rows x 5 columns]

In [13]:
df['value'] = df['value'].fillna(df['value'].mode()[0])

In [14]:
df

                segment           period subtype    value       date
0                Europe   On Trailing EY    EURO    27536  31-Dec-74
1                Europe   On Trailing EY    EURO    20000   1-Jan-75
2                Europe   On Trailing EY    EURO    20000   2-Jan-75
3                Europe   On Trailing EY    EURO    20000   3-Jan-75
4                Europe   On Trailing EY    EURO    20000   6-Jan-75
...                 ...              ...     ...      ...        ...
2839165  United Kingdom  On Trailing BVY      GB  29264.6  28-Aug-17
2839166  United Kingdom  On Trailing BVY      GB    28631  29-Aug-17
2839167  United Kingdom  On Trailing BVY      GB    28686  30-Aug-17
2839168  United Kingdom  On Trailing BVY      GB  28286.2  31-Aug-17
2839169  United Kingdom  On Trailing BVY      GB  29284.2   1-Sep-17

[2839170 rows x 5 columns]

In [16]:
df.head(10)

  segment          period subtype  value       date
0  Europe  On Trailing EY    EURO  27536  31-Dec-74
1  Europe  On Trailing EY    EURO  20000   1-Jan-75
2  Europe  On Trailing EY    EURO  20000   2-Jan-75
3  Europe  On Trailing EY    EURO  20000   3-Jan-75
4  Europe  On Trailing EY    EURO  20000   6-Jan-75
5  Europe  On Trailing EY    EURO  20000   7-Jan-75
6  Europe  On Trailing EY    EURO  20000   8-Jan-75
7  Europe  On Trailing EY    EURO  20000   9-Jan-75
8  Europe  On Trailing EY    EURO  20000  10-Jan-75
9  Europe  On Trailing EY    EURO  20000  13-Jan-75